.app-wrapper{
  display: grid;
  grid-template-rows: 100px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas:"header header" "nav content";
}

.app-wrapper-content{
  grid-area: content;
  background: #edf9fd;
  max-height: 80vh;
  overflow: auto;
}
